.input-field,
.localGovernment {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 26px 0px 0px 0px;
}

.input-field .name,
.input-field .email,
.input-field .address1,
.input-field .address2,
.localGovernment,
.input-field .nameOnCard,
.input-field .cardDetails,
.input-field .expiryDate,
.input-field .cvv,
.select-cardType {
  height: 40px;
  border-radius: 5px;
  outline-style: none;
  border: 1px solid #707070;
  padding-left: 2%;
  font-size: 14px;
}

.input-field .expiryDate,
.input-field .cvv,
.select-cardType {
  text-align: center;
}

.label {
  font-size: small;
  font-weight: bold;
  height: 25px;
}

.sub-text {
  font-size: 10px;
  margin: 12px 0px 12px 0px;
}

.sup {
  float: right;
  color: red;
  margin-left: 19%;
  margin-top: -1%;
}

@media only screen and (max-width: 375px) {
  .input-field,
  .localGovernment {
    display: flex;
    flex-wrap: wrap;
  }
}
