.purchase-form-navbar {
  position: absolute;
  margin: 65px 0px 0px 0px;
  font-size: 14px;

  /*  */
  height: 100vh;
  width: 40%;
}

.purchase-form-navbar > nav > ul {
  display: flex;
  /* justify-content: space-between; */
}

/*  */

.purchase-form-navbar > nav,
.purchase-form-navbar > nav > ul,
.purchase-form-navbar > nav > ul > li,
.purchase-form-navbar > nav > ul .firstLink,
.purchase-form-navbar > nav > ul .secondlink,
.purchase-form-navbar > nav > ul .thirdlink {
  width: 100%;
}

.purchase-form-navbar > nav > ul > li {
  border-bottom: 1px solid black;
  padding-bottom: 5px;
}

/* .purchase-form-navbar > nav > ul > li:hover:active {
  border-bottom: 7px solid #ff7f50;
} */

.purchase-form-navbar > nav > ul .firstLink,
.purchase-form-navbar > nav > ul .secondlink,
.purchase-form-navbar > nav > ul .thirdlink {
  text-decoration: none;
  opacity: 0.5;
  color: #707070;
}

.purchase-form-navbar > nav > ul .secondlink {
  margin-left: 48px;
}

.purchase-form-navbar > nav > ul .thirdlink {
  margin: 0px 0px 0px 50px;
}

.purchase-form-navbar > nav > ul .firstLink:hover,
.purchase-form-navbar > nav > ul .secondlink:hover,
.purchase-form-navbar > nav > ul .thirdlink:hover {
  opacity: 1;
  color: #ff7f50;
  border-bottom: 7px solid #ff7f50;
  cursor: pointer;
}

@media only screen and (max-width: 375px) {
  .purchase-form-navbar {
    font-size: 15px;
    width: 83%;
    margin: 65px 0px 0px 0px;
  }

  .purchase-form-navbar > nav > ul {
    display: flex;
    flex-direction: column;
  }

  .purchase-form-navbar > nav > ul .secondlink {
    margin-left: 1px;
  }

  .purchase-form-navbar > nav > ul .thirdlink {
    margin: 0px 0px 0px 2px;
  }

  .purchase-form-navbar > nav > ul > li {
    border: none;
  }

  .purchase-form-navbar > nav > ul .firstLink:hover,
  .purchase-form-navbar > nav > ul .secondlink:hover,
  .purchase-form-navbar > nav > ul .thirdlink:hover {
    color: #ff7f50;
    border-bottom: 7px solid #ff7f50;
    cursor: pointer;
  }
}
