.personalinfo-form-container {
  height: 130vh;
  margin-top: 25px;
}

.LG-State,
.state,
.personalInfo-btn {
  display: flex;
}

.state {
  flex-direction: column;
}

.LG-State {
  width: inherit;
  height: 20vh;
  margin-top: 25px;
}

.LG {
  width: 100%;
}

.state {
  width: 70%;
  height: 85px;
  outline-style: none;
  margin-top: 6px;
}

.label-state {
  padding-bottom: 28px;
}

.select-state {
  height: 100%;
  margin-top: 7%;
}

.select-state,
.next-btn,
.cancle-payment-btn {
  border-radius: 5px;
}

.personalInfo-btn {
  width: 80%;
  height: 100px;
  margin-top: 6%;
}

.next-btn,
.cancle-payment-btn {
  width: 59%;
  height: 40px;
}

.cancle-payment-btn {
  margin-left: 5%;
  border: none;
  background: transparent;
  outline-style: none;
  color: #191970;
  font-weight: bold;
}

.next-btn {
  outline-style: none;
  background: orange linear-gradient(orange, #ff8c00);
  color: #ffffff;
  border: none;
  border-radius: 5px;
}

@media only screen and (max-width: 375px) {
  .personalinfo-form-container {
    margin-top: 150px;
    height: 130vh;
  }

  .LG-State {
    display: flex;
    flex-direction: column;
    height: 38vh;
  }

  .state {
    width: 100%;
    margin: 35px 0px 0% 0px;
  }
  .personalInfo-btn {
    width: 100%;
    margin-top: 19%;
  }
}
