.custom-shape-divider-top-1613849895 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.custom-shape-divider-top-1613849895 svg {
  position: relative;
  display: block;
  width: calc(182% + 1.3px);
  height: 550px;
  transform: rotateY(180deg);
}

.custom-shape-divider-top-1613849895 .shape-fill {
  fill: #fff5ee;
}

.App {
  margin: 7% 20% 5% 30%;
  width: 100%;
  height: 100vh;
}

@media only screen and (max-width: 375px) {
  .App {
    margin: 20% 3px 4% 10%;
  }
}
